<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/main.css" />
    <title>Famous artists</title>
  </head>
  <body>
    <div class="container">
      <div class="container_menu">
        <a href="/"><span>Home</span></a>
        <a href="/artists"><span>Artists</span></a>
        <a href="http://www.the-estonian.com"><span>Main Domain</span></a>
      </div>
      <div class="container_content">
        {{range $artist := .}}
        <div class="container_content_artist">
          <img
            class="container_content_artist_image"
            src="{{$artist.Image}}"
            alt="{{$artist.Name}} picture"
          />

          <div class="container_content_artist_name">{{$artist.Name}}</div>
          <div class="container_content_artist_member_menu">
            <a href="/locations?id={{$artist.Id}}">
              <p id="allConcerts">Members & Concerts</p>
            </a>
          </div>

          <div class="container_content_artist_creationDate-album">
            <span>Artist created on: {{$artist.CreationDate}}</span>

            <span>First album released on: </span>
            <span>{{$artist.FirstAlbum}}</span>
          </div>
        </div>
        {{end}}
      </div>
      <div class="container_footer">
        <a href="https://github.com/The-Estonian">Git</a>
        <a href="https://www.linkedin.com/in/jaanus-s-3897a721b/">LinkedIn</a>
        <a href="https://kood.tech/">A Kood/Jõhvi Project</a>
      </div>
    </div>
    <script src="static/js/main.js"></script>
  </body>
</html>
