<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/main.css" />
    <title>Famous artists</title>
  </head>
  <body>
    <div class="container">
      <div class="container_menu">
        <a href="/"><span>Home</span></a>
        <a href="/artists"><span>Artists</span></a>
        <a href="/locations"><span>Concert Locations</span></a>
      </div>
      <div class="container_content">{{.}}</div>
      <div class="container_footer">
        <p>Contacts, Reference</p>
      </div>
    </div>
  </body>
</html>
