<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/main.css" />
    <title>Famous artists</title>
  </head>
  <body>
    <div class="container">
      <div class="container_menu">
        <a href="/"><span>Home</span></a>
        <a href="/artists"><span>Artists</span></a>
        <a href="http://www.the-estonian.com"><span>Main Domain</span></a>
      </div>
      <div class="container_content">
        <div class="container_content_welcome">
          <p>Welcome to the site!</p>
          <p>To check out the Artist project, please navigate to Artists Menu, located right at the top of the screen!</p>
          <p>You are also welcome to check out my Main Domain that is still work in progress but it's taking shape.</p>
        </div>
      </div>
      <div class="container_footer">
        <a href="https://github.com/The-Estonian">Git</a>
        <a href="https://www.linkedin.com/in/jaanus-s-3897a721b/">LinkedIn</a>
        <a href="https://kood.tech/">A Kood/Jõhvi Project</a>
      </div>
    </div>
  </body>
</html>
